Source: sphinxbase
Priority: optional
Maintainer: Debian Accessibility Team <pkg-a11y-devel@lists.alioth.debian.org>
Uploaders: Samuel Thibault <sthibault@debian.org>
Build-Depends: debhelper (>= 10~), bison, pkg-config,
 libpulse-dev, libsndfile1-dev, libsamplerate0-dev, libblas-dev, liblapack-dev,
 doxygen, python-all-dev (>= 2.6.6-3~), python3-all-dev, python-all-dbg, dh-python, swig, libjs-jquery
Build-Conflicts: libjack-dev
Standards-Version: 4.1.1
Section: sound
Homepage: http://cmusphinx.sourceforge.net/
Vcs-Git: https://anonscm.debian.org/git/pkg-a11y/sphinxbase.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-a11y/sphinxbase.git
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.0

Package: libsphinxbase-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-jquery
Description: Speech recognition tool - development documentation
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains documentation for developing programs that use Sphinx.

Package: libsphinxbase-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsphinxbase3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libpulse-dev
Description: Speech recognition tool - development files
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains header files and static libraries for developing programs
 that use Sphinx.

Package: sphinxbase-utils
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech recognition tool - utililities
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains tools to manipulate Sphinx files.

Package: libsphinxbase3
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech recognition tool - shared library
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains the shared library.

Package: python-sphinxbase
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Speech recognition tool - Python bindings
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains Python bindings for libsphinxbase.

Package: python3-sphinxbase
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Speech recognition tool - Python3 bindings
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains Python3 bindings for libsphinxbase.

Package: swig-sphinxbase
Section: interpreters
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Speech recognition tool - swig helpers
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains swig helpers for building sphinx-related swig bindings.
